body{
    background-color: antiquewhite;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.grid{
    display: grid;
    grid-template-columns: 49% 49%;
    /*grid-template-rows: 100px 100px;*/
    grid-gap: 10px;
    align-items: center;
}
.grid__item{
    border: 2px solid #000000;
    border-radius: 5px;
    text-align: center;
}
.item__task{
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    font-size: 20px;
    font-weight: bold;
    padding: 8%;
}
.task__link{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}
.task__link:hover{
    color: coral;
}
.item1{
    background-color: aquamarine;
}
.item2{
    background-color: beige;
}
.item3{
    background-color: bisque;
}
.item4{background-color: cadetblue;
}



